.*swp
*.la
*.lo
*.o
*.pb-c.c
*.pb-c.h
*.tar.gz
.deps
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-*
Makefile
Makefile.in
TAGS
test-suite.log
tests/test-io
tests/test-misc
tests/test-parse
tests/*.log
tests/*.trs
