Source: sie-nmsg
Section: net
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends:
 debhelper (>= 11~),
 dh-autoreconf (>= 5~),
 dpkg-dev (>= 1.16.0~),
 libnmsg-dev (>= 1.0.0~),
 libpcap0.8-dev,
 libprotobuf-c-dev (>= 1.0.1~),
 libwdns-dev (>= 0.8.0~),
 pkg-config,
 protobuf-c-compiler (>= 1.0.1~),
Standards-Version: 3.9.8

Package: nmsg-msg-module-sie
Architecture: all
Depends: nmsg-msg9-module-sie
Description: SIE message module plugin for libnmsg (meta package)
 This meta package depends on the SIE message module package for the current
 libnmsg message module ABI.
 .
 This package is required to support libnmsg message module ABI transitions.

Package: nmsg-msg-module-sie-dev
Architecture: any
Depends: libprotobuf-c-dev, ${misc:Depends}
Description: SIE message module headers for libnmsg
 This package extends the libnmsg vendor header files for the following
 message types:
 .
 SIE/dnsdedupe
 SIE/qr
 SIE/reputation
 SIE/delay
 SIE/newdomain
 SIE/dnsnx

Package: nmsg-msg8-module-sie
Architecture: all
Breaks: libnmsg6 (<< 0.9.0)
Depends: nmsg-msg-module-sie
Description: Transitional dummy package for migration to nmsg-msg-module-sie
 This dummy package is provided to support the transition to
 nmsg-msg-module-sie. It can be safely removed.

Package: nmsg-msg9-module-sie
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libnmsg8 (>= 1.0.0)
Description: SIE message module plugin for libnmsg
 This package extends the libnmsg runtime to support the following
 message types:
 .
 SIE/dnsdedupe
 SIE/qr
 SIE/reputation
 SIE/delay
 SIE/newdomain
 SIE/dnsnx
